html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header,
.footer{
  background-color: #E8EEE9;
  padding: 1em;
  width: 100vw;
}

.footer > * {
  display: flex;
}

.textCenter {
  text-align: center;
}

.imgFooter {
  background-image: url("https://www.garagecompact.com/wp-content/uploads/2019/04/mastercard-visa-paypal-logos-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 45%;
  height: 3em;
}

.applicationPage {
  padding-bottom: 2em;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.logoCompany {
  text-align: center;
}

.iconAction {
  width: 2em;
  height: 1.5em;
  cursor: pointer;
}

.logoCompany img {
  width: 10em;
}

.separatorHeader {
  border-style: solid;
  margin: 1em 0;
}

.inputHeader {
  width: 90%;
  float: right;
}

.inputHeader>* {
  border-radius: 5em;
  background: #FFF;
  padding-left: 4em;
}

.linkHeader {
  color: #000;
  text-decoration: none;
}

.chipCateg {
  background: #9CBF43;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5em;
  width: 25%;
  font-size: 1.1rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.vh-63 {
  height: 63vh;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.ma-auto {
  margin: auto;
}

.ma-1 {
  margin: 1em;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-2 {
  margin-top: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.mb-1 {
  margin-bottom: 1em;
}
mb-4 {
  margin-bottom: 4em;
}

.w-14 {
  width: 14em;
}

.cursor-pointer {
  cursor: pointer;
}

.pa-2 {
  padding: 2em;
}

.text-end {
  text-align: end;
}

.w-content {
  width: fit-content;
}

.w-35 {
  width: 35%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}

.bandeau {
  background: #000;
  color: #FFF;
  padding: 1em;
  margin: 3em 0;
}

.logoutDiv {
  padding: 10em 5em;
}