.bandeau {
  background: #000;
  color: #FFF;
  padding: 1em;
  margin: 3em 0;
}

.cardProduct {
  width: 80%;
  margin: auto;
}

.pictureProduct {
  padding: 1em;
  border: 1px solid;
  width: 14em;
  height: 14em;
}